<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

  </head>
  <body>
  	<br><br>
  	<div class="container">

      <h1>Informations de l'événement :</h1>
      <br>

      <div class="row">
        <div class="col-4">Titre :</div>
        <div class="col-4"><%= @event.title %></div>
      </div>

      <div class="row">
        <div class="col-sm-4">Date de début :</div>
        <div class="col-sm-4"><%= @event.start_date %></div>
      </div>

      <div class="row">
        <div class="col-sm-4">Date de fin :</div>
        <div class="col-sm-4"><%= @event.find_end_date %></div>
      </div>

      <div class="row">
        <div class="col-md-4">Durée :</div>
        <div class="col-md-4"><%= @event.duration %></div>
      </div>

      <div class="row">
        <div class="col-lg-4">Description :</div>
        <div class="col-lg-4"><%= @event.description %></div>
      </div>

      <div class="row">
        <div class="col-lg-4">Prix :</div>
        <div class="col-lg-4"><%= @event.price %></div>
      </div>

      <div class="row">
        <div class="col-lg-4">Lieu :</div>
        <div class="col-lg-4"><%= @event.location %></div>
      </div>

      <div class="row">
        <div class="col-lg-4">Organisateur :</div>
        <div class="col-lg-4"><%= @event.admin.email %></div>
      </div>
    </div>
    <% if current_user != @event.admin && current_user.events.exclude?(@event) %>
      <%= link_to "Rejoindre l'événement", new_event_attendance_path(params[:id]), class: "btn btn-primary col-lg-4"%>
    <% end %>
  </body>
</html>
